.spreadsheet {
  width: 100%;
  margin: 0.5rem 0;
}
.spreadsheet input {
  border: 1px solid #999;
  width: 100%;
  padding: 2px;
}

.spreadsheet input:hover {
  background-color: #eee;
}

.spreadsheet input:focus {
  background-color: #ccf;
}
input.dirty {
  background-color: #28a745 !important;
}
input.invalid {
  background-color: #dc3545 !important;
}
.spreadsheet input:not(:focus) {
  text-align: right;
}

.spreadsheet table {
  border-collapse: collapse;
}

.spreadsheet td {
  padding: 0;
  font-weight: normal;
}

.spreadsheet th {
  background-color: #ccc;
  padding: 1px 3px;
  font-weight: bold;
  text-align: center;
}

.pull-right {
  float: right;
}
